img.thumbnail {
  display: block;
  height: 250px;
  width: 0px;
}

div.thumbnail {
  display: block;
  background-position: left;
  background-repeat: no-repeat;
  width: 600px;
  height: 250px;
  background-size: contain;
}
